<form class="container col-sm-6 mt-5" (ngSubmit)="onSubmit(quizform)" #quizform="ngForm">
  <mat-card>
    <mat-card-title>Quiz Form</mat-card-title>
    <hr>
    <mat-card-content>
      <!-- EMAIL -->
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input 
        name="email"
        ngModel
        matInput 
        placeholder="Ex. ex@mail.com" 
        required
        email
        #email = "ngModel">
        
        <mat-hint style="color:red" *ngIf="!email.valid && email.touched; else default">Enter valid email!</mat-hint>
        <ng-template #default>Please input your email</ng-template>
      </mat-form-field>

      <!-- EMAIL END -->
      <!-- SELECT  SUBS -->
      <mat-form-field class="full-width">
        <mat-label>Select a subscription</mat-label>
        <mat-select 
        name="subscription"
        [ngModel]= "default_sub"
        required>
          <mat-option value="basic">Basic</mat-option>
          <mat-option value="advance">Advance</mat-option>
          <mat-option value="pro">Pro</mat-option>
        </mat-select>
        <mat-hint>Please select a subscription</mat-hint>
      </mat-form-field>
      <!-- SELECT SUBS END -->
      <!-- PASSWORD -->
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input 
        name = "password"
        type="password" 
        ngModel
        matInput
        placeholder="***"
        required
        #password = "ngModel">
        <mat-hint style="color: red;" *ngIf = "!password.valid && password.touched; else default_pass">Enter valid password</mat-hint>
        <ng-template #default_pass>Please input your password</ng-template>
      </mat-form-field>
      <!-- END PASSWORD -->
      <button 
      class="col-md-12 mt-5"
      mat-raised-button type="submit">Submit</button>
    </mat-card-content>
  </mat-card>
</form>

<mat-card class="col-sm-6 container mt-5" *ngIf = "submitted">
  <mat-card-title>Your Response</mat-card-title>
  <hr>
  <mat-card-content>
    <h3>email : {{content.email}} </h3>
    <h3>subscription : {{content.subscription}} </h3>
    <h3>password : {{content.password}} </h3>
  </mat-card-content>
</mat-card>
<br>
